<% provide(:title, t(:evaluation_modify)) %>
<h1_left><%= t(:eval_modify_exercise_order) %>:</h1_left>
</br></br>

<div class="row">
<div class="span1">
  <%= t(:general_order) %>
</div>
<div class="span1">
  <%= t(:eval_test) %>
</div>
<div class="span1">
  <%= t(:exercise) %>
</div>
</div>
</br></br>

<%= form_tag update_exercise_order_evaluation_path, method: :put do %>
  <% @evaluation.test_sets.reorder('exercise_order ASC').each do |test_set| %>

<%= fields_for "test_sets[]", test_set do |f| %>

<% if test_set.eval_test %>

<div class="row">
<div class="span1">
  <%= f.text_field :exercise_order %>
</div>
<div class="span1">
  <%= image_tag test_set.eval_test.image.url(:thumbnail) %>
  <%= test_set.eval_test.short_name %>
</div>

<div class="span1">
  <% test_set.eval_test.prescriptions.reorder('exercise_order ASC').each do |prescription| %>
  <%= image_tag prescription.exercise.image.url(:thumbnail) %>
  <%= prescription.exercise.short_name %>
  <% end %>
</div>

</div>
      <% if test_set.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(test_set.errors.count, t(:error)) %> <%=t(:error_in_date_format)%>:</h2>
          <ul>
          <% test_set.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
          </div>
      <% end %>
  	
 <% end %>
 <% end %>
 <% end %>
 </br></br>

  	<div class="submitButton">
        <%= submit_tag t(:button_edit), class: "btn btn-default" %>
        </br>
        </br>
        <%= link_to t(:test_return), evaluations_path %>
    </div>
<% end %>