<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @family_member.user_id %>
</p>

<p>
  <b>Member:</b>
  <%= @family_member.member %>
</p>

<p>
  <b>Relationship:</b>
  <%= @family_member.relationship %>
</p>


<%= link_to 'Edit', edit_family_member_path(@family_member) %> |
<%= link_to 'Back', family_members_path %>
