<div class="container">
<div class="row contentContainer">
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
<ol class="carousel-indicators">
<li class="active" data-slide-to="0" data-target="#myCarousel"></li>
</ol>
<div class="carousel-inner">
<div class="active item">
<%= image_tag("idathletique/zoom-3.jpg")  %>
<div class="carouselCustomCaption">
<div class="carouselCustomCaptionText">
<p>Dossier Athlétique ADN</p>
</div>
<div class="carouselCustomCaptionText">
<p>L'ultime plateforme de gestion du développement de l'athlète</p>
</div>
<div class="clearfix"></div>
<div class="carouselCustomCaptionLinkBox">
<p><%= link_to "SE CONNECTER", ouverture_path %></p>
</div>
</div>
</div>
</div>
</div>
<div class="row text-center discover_box1">
<span class="fontello-logo discover_logo"></span>
<h1>Permet de récolter et analyser les données personnelles des athlètes de tous les niveaux</h1>
<p>Nous vous offrons ainsi une solution qui vous permettra de Simplifier, Synthétiser et Systématiser l'information concernant le développement à long terme de l'athlète. Cette solution unique est orientée afin de promouvoir des décisions proactives en matière de santé, de prévention de blessures et de performance sportive.</p>
</div>
<div class="discover_box2">
<div class="discover_box_content_text">
<div class="row">
<div class="col-md-12">
<h1>Bonjour ici mon test</h1>
</div>
</div>
<div class="row">
<div class="col-md-12">
<p class="text-center">Contribuer au développement de générations d'athlètes supérieurs et en meilleure santé.</p>
</div>
</div>
</div>
<div class="discover_box_content_img">
<%= image_tag("idathletique/zoom-1.jpg")  %>
</div>
<div class="clearfix"></div>
<span id="avantages"></span>
</div>
<div class="row text-center discover_box1">
<div id="avantage" class="box3_checklist_header">
<h1>Nos avantages</h1>
</div>
<span class="fontello-5star box3_icon yellow" style="padding-right:40px;"></span>
<br>
<br>
<div class="row">
<div class="row">
<div class="col-md-2">
<span class="fontello-check34 box3_checklist_check"></span>
</div>
<div class="col-md-8">
<p>
<strong>Prévention de blessures</strong>
<br>
ADN inclut une évaluation fonctionnelle qui permet de déceler s’il y a lieu des restrictions chez vos athlètes.
<br>
Programme d’exercices correctifs personnalisés afin de réduire les risques de blessures.
</p>
</div>
<div class="col-md-2"></div>
</div>
<div class="row">
<div class="col-md-12">
<div class="row homeDivider grey"></div>
</div>
</div>
<div class="row">
<div class="col-md-2">
<span class="fontello-check34 box3_checklist_check"></span>
</div>
<div class="col-md-8">
<p>
<strong>ADN facilite l’élaboration et l’implantation d’un système de développement.</strong>
<br>
Possibilité de créer des évaluations pour les 4 piliers de la performance :
<br>
<strong class="yellow">Technique - Tactique – Physique - Psychologique</strong>
<br>
Vue et perspectives uniques sur l’ensemble des données
<br>
Permet une approche de développement personnalisée de chaque athlète.
</p>
</div>
<div class="col-md-2"></div>
</div>
<div class="row">
<div class="col-md-12">
<div class="row homeDivider grey"></div>
</div>
</div>
<div class="row">
<div class="col-md-2">
<span class="fontello-check34 box3_checklist_check"></span>
</div>
<div class="col-md-8">
<p>
<strong>Amélioration de la communication et de la synergie entre les acteurs clés</strong>
<br>
ADN réunit sur la même plateforme
<br>
Parents-Athlètes-Entraineurs-Professionnels de la santé
<br>
</p>
</div>
<div class="col-md-2"></div>
</div>
<div class="row">
<div class="col-md-12">
<div class="row homeDivider grey"></div>
</div>
</div>
<div class="row">
<div class="col-md-12">
<h2>
<strong>Un incontournable dans le développement à long terme de l’athlète</strong>
</h2>
</div>
</div>
</div>
</div>
<div class="row discover_home_page_spliter"></div>
<div class="discover_box_content_text black">
<div class="row">
<div class="col-md-12">
<h1>
Collecte
<span style="font-size:75%">➞</span>
Analyse
<span style="font-size:75%">➞</span>
Interprétation
<span style="font-size:75%">➞</span>
Action proactive
</h1>
</div>
</div>
<div class="row">
<div class="col-md-12"> </div>
</div>
<div class="row text-center discover_box4" style="position:relative;">
<div class="dev_for_all_text_box bot">
<p class="text-center">
Les données n'ont jamais eu autant
<span style="font-size:1em;">de valeur</span>
</p>
</div>
<div class="dev_for_all_text_box_img">
<%= image_tag("idathletique/zoom-4.jpg")  %>
</div>
</div>
</div>
<div id="discover" class="row text-center discover_box5">
<div class="col-md-12 discover_box5_header">
<h1>Information centralisée</h1>
</div>
<div class="row">
<div class="col-md-4">
<span class="fontello-file icon_suit_icons" data-target="#myModal_FicheComplete" data-toggle="modal"></span>
<div class="icon_suit_text" data-target="#myModal_FicheComplete" data-toggle="modal">
<p>Fiche complète de chaque athlète</p>
</div>
</div>
<div class="col-md-4">
<span class="fontello-progression icon_suit_icons" data-target="#myModal_RaportStats" data-toggle="modal"></span>
<div class="icon_suit_text" data-target="#myModal_RaportStats" data-toggle="modal">
<p>Rapports et statistiques</p>
</div>
</div>
<div class="col-md-4">
<span class="fontello-note icon_suit_icons" data-target="#myModal_ResultatsEvaluation" data-toggle="modal"></span>
<div class="icon_suit_text" data-target="#myModal_ResultatsEvaluation" data-toggle="modal">
<p>Résultats évaluations</p>
</div>
</div>
</div>
<div class="row">
<div class="col-md-4">
<span class="fontello-firstaid icon_suit_icons" data-target="#myModal_HistoriqueBlessures" data-toggle="modal"></span>
<div class="icon_suit_text" data-target="#myModal_HistoriqueBlessures" data-toggle="modal">
<p>Historique des blessures</p>
</div>
</div>
<div class="col-md-4">
<span class="fontello-weight icon_suit_icons" data-target="#myModal_Rehab" data-toggle="modal"></span>
<div class="icon_suit_text" data-target="#myModal_Rehab" data-toggle="modal">
<p>Programmes d’entrainement/réhabilitation</p>
</div>
</div>
<div class="col-md-4">
<span class="fontello-connected icon_suit_icons" data-target="#myModal_SexTendancies" data-toggle="modal"></span>
<div class="icon_suit_text" data-target="#myModal_SexTendancies" data-toggle="modal">
<p>Tendances des restrictions par sexe/groupe d’âge</p>
</div>
</div>
<div class="clearfix"></div>
</div>
<div class="row">
<div class="home_info_text_sub_header">
<h1>Le système est conçu pour tous les membres de l'organisation</h1>
</div>
<div>
<p>Directeurs, entraineurs, athlètes et professionnels de la santé puissent avoir accès à l'information centralisée, à toute heure de la journée.</p>
<p>Chaque utilisateur a son rôle à jouer dans le fonctionnement du système, qui s'en trouve ainsi optimisé.</p>
</div>
</div>
</div>
<div id="myModal_FicheComplete" class="modal fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button class="close" data-dismiss="modal" type="button">
<span aria-hidden="true">×</span>
<span class="sr-only">Close</span>
</button>
<h4 id="myModalLabel" class="modal-title">Fiche complète de chaque athlète</h4>
</div>
<div class="modal-body"> ... </div>
<div class="modal-footer">
<button class="btn btn-default" data-dismiss="modal" type="button">Fermer</button>
</div>
</div>
</div>
</div>
<div id="myModal_RaportStats" class="modal fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button class="close" data-dismiss="modal" type="button">
<span aria-hidden="true">×</span>
<span class="sr-only">Close</span>
</button>
<h4 id="myModalLabel" class="modal-title">Rapports et statistiques</h4>
</div>
<div class="modal-body"> ... </div>
<div class="modal-footer">
<button class="btn btn-default" data-dismiss="modal" type="button">Fermer</button>
</div>
</div>
</div>
</div>
<div id="myModal_ResultatsEvaluation" class="modal fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button class="close" data-dismiss="modal" type="button">
<span aria-hidden="true">×</span>
<span class="sr-only">Fermer</span>
</button>
<h4 id="myModalLabel" class="modal-title">Résultats évaluations</h4>
</div>
<div class="modal-body"> ... </div>
<div class="modal-footer">
<button class="btn btn-default" data-dismiss="modal" type="button">Fermer</button>
</div>
</div>
</div>
</div>
<div id="myModal_HistoriqueBlessures" class="modal fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button class="close" data-dismiss="modal" type="button">
<span aria-hidden="true">×</span>
<span class="sr-only">Close</span>
</button>
<h4 id="myModalLabel" class="modal-title">Historique des blessures</h4>
</div>
<div class="modal-body"> ... </div>
<div class="modal-footer">
<button class="btn btn-default" data-dismiss="modal" type="button">Fermer</button>
</div>
</div>
</div>
</div>
<div id="myModal_Rehab" class="modal fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button class="close" data-dismiss="modal" type="button">
<span aria-hidden="true">×</span>
<span class="sr-only">Close</span>
</button>
<h4 id="myModalLabel" class="modal-title">Programmes d’entrainement/réhabilitation</h4>
</div>
<div class="modal-body"> ... </div>
<div class="modal-footer">
<button class="btn btn-default" data-dismiss="modal" type="button">Fermer</button>
</div>
</div>
</div>
</div>
<div id="myModal_SexTendancies" class="modal fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button class="close" data-dismiss="modal" type="button">
<span aria-hidden="true">×</span>
<span class="sr-only">Close</span>
</button>
<h4 id="myModalLabel" class="modal-title">Tendances des restriction par sexe/groupe d'âge</h4>
</div>
<div class="modal-body"> ... </div>
<div class="modal-footer">
<button class="btn btn-default" data-dismiss="modal" type="button">Fermer</button>
</div>
</div>
</div>
</div>
<span id="nj"></span>
<div class="row homeDivider"></div>
<div class="discover_box6">
<div class="row text-center">
<div id="joinus" class="col-md-12 discover_box6_header" style="padding-right:75px;">
<h1>
<span class="fontello-paper transform_tertiary icon_header_inline_spacer"></span>
Nous joindre
</h1>
</div>
</div>
<div class="row text-center">
<div class="contact_address_font_styles">
<p>418 806-1174</p>
</div>
<div class="contact_address_font_styles">
<p>
<a href="mailto:info@solutionadn.com">info@solutionadn.com</a>
</p>
</div>
</div>
</div>
<div class="row text-center discover_box7">
	<div class="contact_header_font_styles">
	<h1>
	<span class="fontello-mail newsletter_mail_icon"></span>
	Bulletin de nouvelles
	</h1>
	</div>
	<p>Inscrivez-vous à notre bulletin de nouvelles afin d’être au courant des nouveautées et des informations importantes!</p>

	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-6">

			<div id="alert-msg">

			</div>

		<%= form_tag("newsletters/create", :id => 'register', :method => 'post', :remote =>true) do %>
		<input class="form-control contact_form_home_page" type="text" name="email" placeholder="VOTRE.COURRIEL@EXEMPLE.COM">
		<% end %>
		</div>
		<div class="col-sm-3">
		<span class="fontello-arrow newsletter_arrow"></span>
		</div>
	</div>
	<div class="mainMenuSubscribeLinkOverImage" onclick="$('#register').submit()">
		<p>S'INSCRIRE</p>
	</div>
</div>
</div>
</div>
