<h4><%= t(:resultats_individuals) %></h4>
<table class="table table-hover table-striped table-responsive">
              <tr>
                <th><%= t(:general_date)%></th>
                <th><%= t(:general_evaluation)%></th>
                <th><%= t(:general_athlete)%></th>
                <th><%= t(:general_score)%></th>
                <th><%= t(:general_evaluator)%></th>
                <th></th>
              </tr>
<div class="row">
  <div class="span6 offset3">
    <% @resultats_individual.each do |individual_resultat| %>
    <% if current_user?(individual_resultat.user) || is_current_user_sysadmin? %>
      <tr>
        <td><%= individual_resultat.eval_day %></td>

        <td><%= link_to individual_resultat.evaluation_name, athlete_resultats_path(:resultat_id => individual_resultat.resultat_id) %></td>

         <td><%= link_to individual_resultat.athlete_name, individual_resultat.athlete %></td>

         <td><%= individual_resultat.score %></td>

        <td><%= link_to individual_resultat.user_name, individual_resultat.user %></td>

        <% if current_user?(individual_resultat.user) || is_current_user_sysadmin? %>
          <td class="td-last-2">
            <%= link_to restart_evaluation_resultats_path(:resultat_id => individual_resultat.resultat_id) do %>
              <span class="glyphicon glyphicon-pencil"></span>
            <% end %>

            <%= link_to confirm_delete_resultats_path(:resultat_id => individual_resultat.resultat_id, :delete_target => "team") do %>
              <span class="glyphicon glyphicon-trash"></span>
            <% end %>
          </td>
        <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>