<table class="table table-hover table-striped table-responsive">
  <tr>
  	<th><%= I18n.t('activerecord.attributes.test_category.organization_id') %></th>
    <th><%= I18n.t('activerecord.attributes.test_category.name') %></th>
    <th></th>
  </tr>

  <% @test_categories.each do |category| %>
    <tr>
      <td>
        <%= category.organization.name %>
      </td>
      
      <td>
        <b><%= link_to category.name, edit_test_category_path(category) %></b>
      </td>
    	<td class="td-last-1">
        <%= link_to category, method: :delete, data: { confirm:  I18n.t(:button_confirm_delete) } do %>
          <span class="glyphicon glyphicon-trash"></span>
        <% end %>
      </td>
    </tr>

    <% category.test_subcategories.each do |subcategory| %>
      <tr>
      	<td></td>
      	<td>
          <%= link_to edit_test_subcategory_path(subcategory) do %>
            <span class="glyphicon glyphicon-chevron-right" style="font-size:20px;"></span><%= subcategory.name %>
          <% end %>
        </td>
        <td class="td-last-1"> 
          <%= link_to subcategory, method: :delete, data: { confirm:  I18n.t(:button_confirm_delete) } do %>
            <span class="glyphicon glyphicon-trash"></span>
          <%end%>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>