<div class="row">
	<div class="span7">
		<h4 class="mailShowTitle" style="border-bottom: 2px solid;text-overflow: ellipsis; "><%= @mail.subject %></h4>
		<span><%= t(:mail_from) %> : <%= User.find(@mail.uid_from).name %></span><br>
		<span><%= t(:general_date) %> : <%= @mail.date_created.to_formatted_s(:long) %></span>
		<% if @file_ok == true%>
		<br>
			Fichier
			<%= link_to download_path(:id=>@mail.id, :hash=>@mail.file_hash), target: "_blank" do %>
				<span class="glyphicon glyphicon-chevron-right" style="font-size:14px;"></span> <%=@mail.file_name%>
			<%end%>
		<%end%>
		<br>
		<% if @programme_ok == true%>
			Programme
			<%= link_to @programme, :target =>"_blank" do %>
				 <span class="glyphicon glyphicon-chevron-right" style="font-size:14px;"></span> <%=@programme.name%>
			<%end%>
		<% end %>
			<% if @mail.linkyt != "" && @mail.linkyt.length > 0 %>
			<br>
		
				Lien Video
				<%= link_to @mail.linkyt, :target =>"_blank"  do %>
					<span class="glyphicon glyphicon-chevron-right" style="font-size:14px;"></span> <%=@mail.linkyt%>
				<%end%>
			<% end %>
		<hr>
		<div class="eval_border_limit" style="height:auto;word-wrap: break-word; min-height: 300px;">
			<%= @mail.message %>
		</div>
		<%= link_to t(:general_back), mails_path, :id => "mail_cancel", :class => "btn btn-default"%>
	</div>
</div>