 <div class="tab-pane fade" id="tab_f"><!--TAB F-->
  <h4 class="text-center">Blessures</h4>
	  <div class="row">
		<div id="injuriesBody" class="panel">
		  <%= render 'blessures/body', :injuries => build_injuries_map(@user.blessures) %>
		</div>
		<div class="col-md-12">
		  <h4><%= t 'user_legend_injuries' %></h4>
		  <table class="table table-condensed table-hover">
			<tbody>
			  <% if @user.blessures.any? %>
				<% @user.blessures.each do |blessure| %>
				  <tr>
					<td><%= link_to blessure.title, blessure %></td>
				  </tr>
				<% end %>
			  <% else %>
				<tr>
				  <td><%= t 'general_no_injury' %></td>
				</tr>
			  <% end %>
			</tbody>
		  </table>
		</div>
		<div class="span12 row">
		  <div class="margin-bottom">
			<%= link_to I18n.t(:blessure_declare), new_blessure_path, class: "btn btn-default" %>
		  </div>
		</div>
		<div class="col-md-12">
		  <div class="dev_alert text-center">
			<h4>********RENDERED BY RAILS********</h4>
		  </div>
		</div>
		<div class="col-md-4">
		  <button type="button" class="btn btn-default button_profile_box_one" id="profile_coach_quick_btns">PHYSIO+Blessure</button>
		</div>
		<div class="col-md-12">
		  <div class="dev_alert text-center">
			<h4>********RENDERED BY RAILS********</h4>
		  </div>
		</div>
	  </div>
	   <% if @user.blessures.any? %>
		<% @user.blessures.each do |blessure| %>
		 <div class="row eval_border_limit">
		  <div class="col-md-12">
			<h4 class="text-center"><%=blessure.title_wo_date%></h4>
		  </div>
			<div class="col-md-6">
			  <ul class="list-group">
				  <li class="list-group-item">Athlète: <%= link_to blessure.user.to_s, blessure.user %></a></li>
				  <li class="list-group-item">Date de la blesssure: <%= blessure.date %></li>
				  <li class="list-group-item">Sport: <%= blessure.equipe_type.name%></li>
				  <li class="list-group-item">Type de blessure: <%= blessure.type_de_blessure_name %></li>
				  <li class="list-group-item">Partie du corps: <%= blessure.partie_du_corp_name %></li>
			  </ul>
				<button type="button" class="btn btn-default button_profile_box_one" id="profile_user_access_button_margin">Modifier<i class="glyphicon glyphicon-cog profile_user_button_icon_align"></i></button>
				<button type="button" class="btn btn-default button_profile_box_one" id="profile_user_access_button_margin">Supprimer<i class="glyphicon glyphicon-cog profile_user_button_icon_align"></i></button>
			</div>
			<div class="col-md-6">
			  <ul class="list-group">
				  <li class="list-group-item">Symptomes:</li>
				  <li class="list-group-item">Mécanisme:</li>
				  <li class="list-group-item">Surface:</li>
				  <li class="list-group-item">Retour au jeu/entraînement dans les 24/48 heures: <%= blessure.retour_au_jeu%></li>
				  <li class="list-group-item">Opération: <%= blessure.operation_print %></li>
				  <li class="list-group-item">Détail: <%= blessure.detail %></li>
			  </ul>
			</div>
		  </div>

		<%end%>
	  <%end%>
	</div>
</div><!--TAB F-->