<% if @resultats!= [] || @user.last_scat2s.any? %>
    <legend><%= t 'user_legend_resultats' %></legend>
    <fieldset>
      <div class="span12 row">
        <div class="margin-bottom">
          <table class="table table-condensed table-hover">
            <tr>
              <th><%= t(:general_score) %></th>
              <th><%= t(:general_evaluation) %></th>
              <th><%= t(:general_team) %></th>
              <th><%= t(:general_date) %></th>
              <th><%= t(:general_evaluator) %></th>
            </tr>

            <% if @user.last_scat2s.any?  %>
                <tr>
                  <td><%= @user.last_scat2s.last.get_score %></td>
                  <td> <%= link_to t('user_legend_scat2'), scat2s_user_url %> </td>
                  <td><%= @user.last_scat2s.last.owner.name %></td>
                  <td><%= @user.last_scat2s.last.evaluation_datetime %></td>
                  <td><%= @user.last_scat2s.last.owner.name %></td>
                </tr>
            <% end %>

            <% @resultats.each do |resultat| %>
                <tr>

                  <% if resultat.score.to_i <= resultat.evaluation.maximum_score %>
                      <td><%= resultat.score %></td>
                  <% else %>
                      <td><%= t(:resultats_incomplete) %></td>
                  <% end %>

                  <td><%= link_to resultat.evaluation.name, athlete_resultats_path(:resultat_id => resultat.record_id) %></td>

                  <% if resultat.equipe != nil %>
                      <td><%= link_to resultat.equipe.name, resultat.equipe %></td>
                  <% else %>
                      <td>evaluation individuelle</td>
                  <% end %>

                  <td><%= resultat.eval_day %></td>
                  <% if resultat.user %>
                    <td><%= link_to resultat.user.name, resultat.user %></td>
                  <% else %>
                    <td><%= t(:general_unknown) %></td>
                  <% end %>
                </tr>
            <% end %>

          </table>
        </div>
      </div>
    </fieldset>
<% end %>
