<% provide(:title, I18n.t(:user_password_modify)) %>

<div class="row">
  <div class="col-md-12 text-centerr login_pass_layout">
  
    <% if is_current_user_sysadmin? && !current_user?(@user)%>
      <h1><%= I18n.t(:user_sys_password_modify) %><%= @user.name %></h1>
    <% else %>
      <h1><%= t :user_password_modify %></h1>
    <% end %>

    <span class="fontello-password9 login_pass_icon"></span>
  </div>
</div>
<div class="row text-center">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <%= form_for(@user, url: update_password_user_path(@user)) do |f| %>
      <%= render 'shared/error_messages' %>
      <div class="form-group">
          <%= f.label :password, I18n.t(:user_password_new) %>
          <%= f.password_field :password %>
      </div>
      <div class="form-group">
          <%= f.label :password_confirmation, I18n.t(:user_password_confirm) %>
          <%= f.password_field :password_confirmation %>
      </div>
      <%= f.submit class: "btn btn-default btn-lg" %>
    <% end %>
  </div>
  <div class="col-md-4">
  </div>
</div>