<% provide(:title, 'New Organization') %>
<h1 class="text-center">Nouvelle Organisation</h1>

<div class="col-md-6 col-md-offset-3">
  <div class="span6">
    <%= form_for :organization, url: organizations_path do |f| %>
        <p>
          <%= f.label :name %><br>
          <%= f.text_field :name, :class=>"form-control" %>
        </p>

        <p>
          <%= f.label :description %><br>
          <%= f.text_area :description, :class=>"form-control" %>
        </p>

        <p>
          <%= f.submit class: "btn btn-default", action: 'update'%>
          <%= link_to t(:general_back), organizations_path, class: "btn btn-default", :style=>"display:inline;margin-left:10px;" %>
        </p>
    <% end %>
  </div>
</div>