<footer class="footer text-center">
  <div class="footer_box">
    Copyright © <%= I18n.t(:general_project_name) %> - <%= I18n.t(:general_all_rights_reserved) %> <%= I18n.t(:contact_us) %> <a href="mailto:info@solutionadn.com"> <%= I18n.t(:contact_team) %> </a>
    <br>
    <%= link_to I18n.t(:general_disclaimer), "/disclaimer" %> - <%= link_to I18n.t(:general_tos), "/tos" %>
  </div>
</footer>